body {
    background-color:#cbf3f0;
    font-family: "arial, sans serif";
}

.container {
    display: flex;
    justify-content: center;
}

div.instrux {
    width:300px;
    margin-top:20px;
    font-size: 20px;
    padding-right:20px;
}

#grid {
    width: 300px;
    height: 600px;
    background-color: #ffdab9;
    display: flex;
    flex-wrap: wrap;
}

#grid div {
    width: 30px;
    height: 30px;
}

.tetromino {
    background-color: #90be6d;
}

h3.score {
    display:inline-block;
    margin-left:10%;
}

#start-button {
    padding: 20px;
    background-color: #90be6d;
    display: inline-block;
    cursor: pointer;
    margin-left:20px;
}

div.mini-grid-container {
    
}

h3.mgHeader {
    margin-left: 50px;
    text-align: center;
}

div.mini-grid {
    width: 120px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    margin-left:50px;
}

.mini-grid div {
    height: 30px;
    width: 30px;
  }